@model Truco.Models.CompeticaoEquipe
<div class="row form-group">
	<div class="col-md-4 col-xs-6">
        @Html.LabelFor(model => model.CompeticaoId, htmlAttributes: new { @class = "control-label" })		
        @Html.DropDownListFor(model => model.CompeticaoId, 
			(SelectList)ViewBag.Competicaos, 
			"Selecione um Competicao...",
			new { @class = "form-control selectpicker" })        		
		@Html.ValidationMessageFor(model => model.CompeticaoId, "", new { @class = "text-danger" })
    </div>
	<div class="col-md-4 col-xs-6">
        @Html.LabelFor(model => model.EquipeId, htmlAttributes: new { @class = "control-label" })		
        @Html.DropDownListFor(model => model.EquipeId, 
			(SelectList)ViewBag.Equipes, 
			"Selecione um Equipe...",
			new { @class = "form-control selectpicker" })        		
		@Html.ValidationMessageFor(model => model.EquipeId, "", new { @class = "text-danger" })
    </div>
</div> <!-- ./row -->

