
@using Truco.Models 
@model EquipeAtleta

@using (Ajax.BeginForm(actionName: "InserirAtleta", controllerName: "Equipe",
                                                        ajaxOptions: new AjaxOptions()
                                                        {
                                                            HttpMethod = "POST",
                                                            InsertionMode = InsertionMode.Replace,
                                                            UpdateTargetId = "atletasDiv"
                                                        }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.EquipeId)
    <div class="row form-group">
        <div class="col-lg-3">
            @*aqui auto complete com especialidade*@
          @Html.LabelFor(model => model.AtletaId, htmlAttributes: new { @class = "control-label" })
        @*TypeaHead PessoaAscendente *@
        <input type="text" id="AtletaIdNome" name="AtletaIdNome" placeholder="Digite o Nome do Atleta" class="form-control" value="@(Model?.Atleta?.Nome)">
        @Html.HiddenFor(a => a.AtletaId)
        @*End TypeaHead PessoaAscendente *@
        @Html.ValidationMessageFor(model => model.AtletaId "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save fa-fw"></i> Salvar</button>
        </div>
    </div>

}