@model Truco.Models.Regiao
@{
    ViewBag.Title = "Regioes";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">                
                <label>Detalhes - @ViewBag.Title</label>                
            </div>
            <div class="panel-body">
                @Html.Partial("_CriarOuEditar")
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <a href="@Url.Action("Editar", new { id = Model.RegiaoId })" class="btn btn-default"><i class="fa fa-edit fa-fw"></i> Editar</a>
        <a href="@Url.Action("Indice")" class="btn btn-default"><i class="fa fa-arrow-left fa-fw"></i> Voltar</a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('input').attr('readonly', 'readonly');
        });
    </script>
}

