@model Truco.Models.CompeticaoFaseGrupoRodadaJogoSet

@using (Html.BeginCollectionItem("CompeticoesFasesGruposRodadasJogosSets"))
{
    <tr>
        <td>
            @Html.HiddenFor(a => a.CompeticaoFaseGrupoRodadaJogoSetId)
            @Html.HiddenFor(a => a.Set)
            @($"{Model.Set}º Set")
        </td>
        <td align="right">
            @Html.EditorFor(a => a.EquipeUmTentos, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td align="center">VS</td>
        <td>
            @Html.EditorFor(a => a.EquipeDoisTentos, new { htmlAttributes = new { @class = "form-control" } })
        </td>
    </tr>
}
