@model Truco.ViewModels.ClassificacaoViewModel
@{
    ViewBag.Title = "Classificacao";
    var competicaoFase = Model.CompeticaoFase;
}
<hgroup>
    <h2>@Model.CompeticaoFase.Competicao.Nome.</h2>
    <h3>@($"{competicaoFase.Fase}ª Fase {competicaoFase.Tipo}").</h3>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div class="row">
    @foreach (var posicao in Model.Equipes.OrderBy(a=>a.Classificacao).ThenBy(a => a.Posicao).GroupBy(a => a.Classificacao).ToList())
    {
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (competicaoFase.Tipo == Truco.Models.Enums.CompeticaoFaseTipo.Principal)
                    {
                        <h3>@($"{posicao.Key}")</h3>
                    }
                    else
                    {
                        if (posicao.Key == Truco.ViewModels.Enums.Classificacao.Principal)
                        {
                            <h3>Classificados</h3>
                        }
                        else
                        {
                            <h3>Desclassificados</h3>
                        }
                    }
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Chave</th>
                                <th>Equipe</th>
                                <th>Vitórias</th>
                                <th>Sets</th>
                                <th>Tentos</th>
                                <th>Aproveitamento</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var equipes = posicao.OrderByDescending(a => a.Aproveitamento).ToList();}
                            @foreach (var equipe in equipes)
                            {
                                <tr>
                                    <td>@($"{equipes.IndexOf(equipe) + 1}º Lugar")</td>
                                    @if (equipe.CompeticaoFaseGrupoEquipe != null)
                                    {
                                        <td>@equipe.CompeticaoFaseGrupoEquipe.CompeticaoFaseGrupo.Nome</td>
                                        <td>@equipe.CompeticaoFaseGrupoEquipe.CompeticaoEquipe.Nome</td>
                                        <td>@equipe.CompeticaoFaseGrupoEquipe.Vitorias</td>
                                        <td>@equipe.CompeticaoFaseGrupoEquipe.Sets</td>
                                        <td>@equipe.CompeticaoFaseGrupoEquipe.Tentos</td>
                                        <td>@equipe.CompeticaoFaseGrupoEquipe.Aproveitamento</td>
                                    }
                                    else
                                    {
                                        <td>@($"{equipe.CompeticaoFaseEquipe.CompeticaoFase.Fase}ª Fase {equipe.CompeticaoFaseEquipe.CompeticaoFase.Tipo}")</td>
                                        <td>@equipe.CompeticaoFaseEquipe.CompeticaoEquipe.Nome</td>
                                        <td>@equipe.CompeticaoFaseEquipe.Vitorias</td>
                                        <td>@equipe.CompeticaoFaseEquipe.Sets</td>
                                        <td>@equipe.CompeticaoFaseEquipe.Tentos</td>
                                        <td>@equipe.CompeticaoFaseEquipe.Aproveitamento</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
                                }


</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Classificar", "Competicoes"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.CompeticaoFaseId)
            <div class="row form-group">
                <div class="col-md-4 col-xs-6">
                    @Html.LabelFor(model => model.Principal, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Principal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Principal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-default">Classificar</button>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Classificacao", "Competicoes"))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.CompeticaoFaseId)
            @Html.HiddenFor(a => a.Principal)
            <div class="row form-group">
                <div class="col-md-4 col-xs-6">
                    @Html.LabelFor(model => model.Modo, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Modo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Modo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <button type="submit" class="btn btn-default">Gerar</button>
            </div>
        }
    </div>
</div>
