@model Truco.ViewModels.FaseMataMataViewModel
@{
    ViewBag.Title = "FaseMataMata";
}

<hgroup>
    <h2>@Model.CompeticaoFase.Competicao.Nome.</h2>
    <h3>@($"{Model.CompeticaoFase.Fase}ª Fase {Model.CompeticaoFase.Tipo} - {Model.CompeticaoFase.Modo}").</h3>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <tbody>
                @foreach (var jogo in Model.CompeticaoFase.CompeticoesFasesJogos.OrderBy(a => a.Jogo))
                {
                    <tr>
                        <td>
                            @($"{jogo.Jogo}ª Jogo")
                        </td>

                        <td align="right" @(jogo.CompeticaoFaseJogoEquipeUm.CompeticaoFaseEquipe.Vitorias > 0 ? "style=color:blue" : "")>
                            @jogo.CompeticaoFaseJogoEquipeUm.CompeticaoFaseEquipe.CompeticaoEquipe.Nome
                        </td>
                        <td align="center">
                            VS.
                        </td>
                        <td @(jogo.CompeticaoFaseJogoEquipeDois.CompeticaoFaseEquipe.Vitorias > 0 ? "style=color:blue" : "")>
                            @jogo.CompeticaoFaseJogoEquipeDois.CompeticaoFaseEquipe.CompeticaoEquipe.Nome
                        </td>
                        <td>@Html.ActionLink("Lançar", "JogoMataMata", new { id = jogo.CompeticaoFaseJogoId })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(a => a.CompeticaoFaseId)

            if (Model.CompeticaoFase.Tipo == Truco.Models.Enums.CompeticaoFaseTipo.Principal)
            {
                <div class="row form-group">
                    <div class="col-md-4 col-xs-6">
                        @Html.LabelFor(model => model.SubirDescerRepescagem, htmlAttributes: new { @class = "control-label" })
                        @Html.EnumDropDownListFor(model => model.SubirDescerRepescagem, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SubirDescerRepescagem, "", new { @class = "text-danger" })
                    </div>

                </div> <!-- ./row -->
            }
            else
            {
                @Html.HiddenFor(a => a.SubirDescerRepescagem)
            }

            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-default">Próxima fase</button>
        }
    </div>
</div>