@model Truco.Models.CompeticaoFase
@{
    ViewBag.Title = "Fase";
}
<hgroup>
    <h2>@Model.Competicao.Nome.</h2>
    <h3>@Model.Nome.</h3>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row">
    <div class="col-md-12">
        @foreach (var grupo in Model.CompeticoesFasesGrupos.OrderBy(a => a.Grupo))
        {
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title pull-left">@grupo.Nome</h3>
                        <a href="@Url.Action("Jogos", new { id = grupo.CompeticaoFaseGrupoId })" class="btn btn-primary pull-right hidden-print">Jogos</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    @if (grupo.CompeticoesFasesGruposEquipes.Count == 6)
                                    {
                                        <th>Lado</th>
                                    }
                                    <th>
                                        Trio
                                    </th>
                                    <th>
                                        Jogos
                                    </th>
                                    <th>
                                        Vitórias
                                    </th>
                                    <th>
                                        Sets
                                    </th>
                                    <th>
                                        Tentos
                                    </th>
                                    <th>Aproveitamento</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var equipes = grupo.CompeticoesFasesGruposEquipes.OrderByDescending(a => a.Vitorias).ThenByDescending(a => a.Sets).ThenByDescending(a => a.Tentos).ThenBy(a => a.Lado).ThenBy(a => a.Numero).ToList();}
                                @foreach (var equipe in equipes)
                                {
                                    <tr>
                                        <td>@($"{equipes.IndexOf(equipe) + 1}º")</td>
                                        @if (grupo.CompeticoesFasesGruposEquipes.Count == 6)
                                        {
                                            <td>@equipe.Lado</td>
                                        }
                                        <td>@equipe.Equipe.Nome</td>
                                        <td>@equipe.Jogos</td>
                                        <td>@equipe.Vitorias</td>
                                        <td>@equipe.Sets</td>
                                        <td>@equipe.Tentos</td>
                                        <td>@equipe.Aproveitamento</td>
                                    </tr>
                                }

                                @if (grupo.CompeticoesFasesGruposEquipes.Count == 3)
                                {
                                    <tr>
                                        <td colspan="7">-</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


                                    }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Classificacao", new { id = Model.CompeticaoFaseId })" class="btn btn-default">Classificação</a>
    </div>
</div>

@section styles {
    <style type="text/css">
        .panel-heading h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
            width: 75%;
            padding-top: 8px;
        }
    </style>
}