@model IEnumerable<Truco.Models.Competicao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modalidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioCad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHoraCad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioCad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHoraCad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompeticaoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompeticaoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompeticaoId })
        </td>
    </tr>
}

</table>
