@model IList<Truco.Models.CompeticaoFaseGrupoRodadaJogo>
@{
    ViewBag.Title = "Jogos";
    var roda = Model.FirstOrDefault()?.CompeticaoFaseGrupoRodada;
}

<hgroup>
    <h1>@roda.CompeticaoFaseGrupo.CompeticaoFase.Competicao.Nome</h1>
    <h2>@roda.CompeticaoFaseGrupo.CompeticaoFase.Nome</h2>
    <h3>@roda.CompeticaoFaseGrupo.Nome - @($"{roda.Rodada}ª Rodada")</h3>
</hgroup>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            @foreach (var jogo in Model)
                            {
                            <tr>
                                <td>
                                    @($"{jogo.CompeticaoFaseGrupoRodada.Rodada}ª Rodada")
                                </td>
                                <td>@jogo.CompeticaoFaseGrupoEquipeUm.Numero</td>
                                <td align="right">
                                    @jogo.CompeticaoFaseGrupoEquipeUm.Equipe.Nome
                                </td>
                                <td align="center">
                                    VS.
                                </td>
                                <td>
                                    @jogo.CompeticaoFaseGrupoEquipeDois.Equipe.Nome
                                </td>
                                <td>@jogo.CompeticaoFaseGrupoEquipeDois.Numero</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
